:root{
    --black: rgb(27, 27, 27);
    --white: rgb(250,250,250);
    --darkblack: rgb(27, 27, 27);
}

*{
    box-sizing: border-box;
    font-family: monospace;
}

body{
    background-color: var(--black);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.body{
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(35, 35, 35), -3px -3px 5px rgb(0, 0, 0);
    color: var(--white);
    padding-top: 30px;
    position: relative;
    width: 100%;
    max-width: 350px;
    text-align: center;
}
.body .nickname{
    position: absolute;
    top: 30px;
    left: 20px;
    color: #fff;
    background-color: orangered;
    font-size: 14px;
    border-radius: 3px;
    padding: 1px 8px;
    box-shadow: 2px 2px 4px rgb(37, 36, 36), -3px -3px 4px rgb(0, 0, 0);
    transition-duration: .9s;
}



.nickname:hover{
    display: block;
    background-color:var(--white);
    color:var(--black);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: scale(0.9);
}
.body .picture{
    box-shadow: 2px 2px 4px rgb(37, 36, 36), -3px -3px 4px rgb(0, 0, 0);
    border-radius: 50%;
    padding: 4px;
    width: 150px;
}


.body h2{
    margin: 10px 0px;
    font-weight: bolder;
}

.body p{
    font-size: 12px;
    line-height: 1.4;
    font-weight: lighter;
}

.buttons{
    margin-top: 30px;
    padding: 10px;
}

.buttons button{
    background-color: var(--white);
    border: 1px solid var(--white);
    color: var(--black);
    border-radius: 3px;
    padding: 10px 25px;
    box-shadow: 2px 2px 4px rgb(37, 36, 36), -3px -3px 4px rgb(0, 0, 0);
    width: 150px;
    transition-duration: .7s;
}

.buttons button:hover{
    transform: scale(.9);
}

.buttons .secondary{
    background-color: var(--black);
    color: var(--white);
}

.skills{
    text-align: left;
    padding: 20px;
    background-color: var(--darkblack);
}

.skills h4{
    margin: 10px;
    text-align: center;
}
.skills p{
    margin: 10px;
    text-align: center;
}

.skills ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

}

.skills ul li{
    border: 1px solid var(--white);
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    box-shadow: 2px 2px 4px rgb(37, 36, 36), -3px -3px 4px rgb(0, 0, 0);
    padding: 10px ;
    transition-duration: .9s;
    margin: 5px 5px;
}

.skills ul li:hover{
    background-color: var(--white);
    color: var(--black);
    transform: scale(0.9);
}
.footer{
    color: var(--white);
   padding-top: 100%;
   background-color: black;
   background: local;
}
